<div class="row-fluid">
  <div class="span12">
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyDJLcKc7OSbrmFN6agLkDrF3-r-lburzhk"></script>

      <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/place/textsearch/json?query=parks+in+charleston+south+carolina&sensor=false&key=AIzaSyDJLcKc7OSbrmFN6agLkDrF3-r-lburzhk"></script>-->
      <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.5/src/infobox.js"></script>
      <!--Sidebar content-->
    <% if user_signed_in? %>

      <div id="name" style="width:inherit;height:inherit">
        <div id="map-canvas"></div>
      </div>

    <% else %>
      <a href="/users/sign_in" class='btn btn-success btn-large btn-block'>Sign In</a>
      <a href="/users/sign_up" class='btn btn-info btn-large btn-block'>Sign Up</a>
    <% end %>

  </div>
</div>
