a {
  color: #869169;
}
#appTitle {
  font-size:250%;
  float:right;
  margin-top: 17px;
}
body {
  padding-right: 0px;
  padding-left: 0px;
  font-family: impact;
  text-transform:uppercase;
}
/*.fa{
  color: #656e73;
}*/
h1 {
 color: #b15e1a;
}
#map-canvas {
  height: 1000px;
  margin: 0px;
  padding: 0px;
  width:1000px;
}
.navbar, .navbar-inner {
  border-radius:0px;
}
ul {
  list-style-type: square;
}
@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
}
