body {
  padding-right: 0px;
  padding-left: 0px;
  font-family: impact;
  text-transform:uppercase;
}
.navbar, .navbar-inner {
  border-radius:0px;
}
#appTitle {
  font-size:250%;
  float:right;
  margin-top: 17px;
}
@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
}

ul{
  list-style-type: square;
}


/*.fa{
  color: #656e73;
}*/

h1{
 color: #b15e1a;
}

a{
  color: #869169;
}
